<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <meta charset='utf-8'>
            <meta http-equiv='X-UA-Compatible' content='IE=edge'>
                <title>Template</title>
                <meta name='viewport' content='width=device-width, initial-scale=1'>
                    <link rel="stylesheet" type="text/css" media="all" href="/css/template.css" th:href="@{/css/template.css}" />
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                    </head>
                    <body>

                        <div class="container">
                            <header >
                                <nav th:fragment="nav" sec:authorize="isAuthenticated()" >
                                    <div class="Principal" id="titulo">
                                        <img src="https://firebasestorage.googleapis.com/v0/b/drunkpizza-60b6c.appspot.com/o/imagenes%2FLogo.png?alt=media&token=03af6e79-b636-4eca-9e1b-67eef53165e0" id="logo">
                                            <div class="user">
                                                <h2>
                                                    [[#{plantilla.bienvenido}]]
                                                    
                                                    <p sec:authentication=" name"></p>
                                                </h2> 
                                            </div>  
                                    </div>

                                    <ul>
                                        <li style="--w:#ff0000;--e:#FFC300;">
                                            <span class="material-symbols-outlined" >home</span>
                                            <a class="txt" href="#" th:href="@{/}">[[#{nav.inicio}]]</a>
                                        </li>
                                        <li style="--w:#FFC300;--e:#196F3D    ">
                                            <span class="material-symbols-outlined" >shopping_cart_checkout</span>
                                            <a class="txt" href="#" th:href="@{/carritoListado}">[[#{nav.carrito}]]</a>
                                        </li>
                                        <li style="--w:#196F3D; --e:#5B2C6F ">
                                            <span class="material-symbols-outlined" >call</span>
                                            <a class="txt" href="#" th:href="@{/contactenos}">[[#{nav.contactenos}]]</a>
                                        </li>
                                        <li style="--w:#5B2C6F;--e:#FF00F3;">
                                            <span class="material-symbols-outlined" >favorite</span>
                                            <a class="txt" href="#" th:href="@{/opinion}">[[#{nav.opinion}]]</a>
                                        </li>
                                        <li style="--w:#FF00F3;--e:#3498DB;" sec:authorize="hasRole('ROLE_VENDEDOR')">
                                            <span class="material-symbols-outlined" >groups</span>
                                            <a class="txt" href="#" th:href="@{/cliente}">[[#{nav.usuarios}]]</a>
                                        </li>
                                        <li style="--w:#3498DB;--e:#34495E;" sec:authorize="hasRole('ROLE_VENDEDOR')">
                                            <span class="material-symbols-outlined" >fastfood</span>
                                            <a class="txt" href="#" th:href="@{/productos}">[[#{nav.productos}]]</a>
                                        </li>
                                        <li style="--w:#3498DB;--e:#ffffff;" sec:authorize="hasRole('ROLE_VENDEDOR')">
                                            <span class="material-symbols-outlined" >favorite</span>
                                            <a class="txt" href="#" th:href="@{/productos}">[[#{nav.opiniones}]]</a>
                                        </li>
                                        <li style="--w:#ffffff;--e:#ff0000;" sec:authorize="hasRole('ROLE_VENDEDOR')">
                                            <span class="material-symbols-outlined" >logout</span>
                                            <a class="txt" href="#" th:href="@{/login}">[[#{nav.logout}]]</a>
                                        </li>
                                  
                                 


                                    </ul>
                                </nav>  
                            </header>

                            <main>Main</main>

                            <div id="content1">Content</div>



                            <footer class="footer" th:fragment="footer">
                                <section>
                                    <a href="#titulo">[[#{footer.goToTitle}]]</a>
                                    <br>
                                        <a href="mailto:drunkpizza@gmail.com">drunkpizza@gmail.com</a>
                                        <br>
                                            <a href="https://web.whatsapp.com/" target="_blanck">+506 6024-5577</a>
                                            <br>
                                                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                                   th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>
                                                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                                   th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>

                                                <form method="POST" 
                                                      th:action="@{/logout}" 
                                                      style="display: inline">                    
                                                    <a href="#" onclick="this.parentNode.submit();">[[#{nav.logout}]]</a>
                                                </form>

                                                </section>
                                                <p>Copyright @2022</p>
                                                </footer>

                                                </div>





                                                </body>
                                                </html>
