/* 
    Created on : Nov 4, 2022, 11:41:29 PM
    Author     : Alonso
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    background-color: #0d1117;
}
h1{
    font-size: 30px;
    color: #00ff59;
    margin-top: 40px;
    letter-spacing: 4px;
}


/*CONTENEDOR*/


.contenedor_cliente{
    display: inline-block;
    width: auto;
    margin: 50px 20px;
    text-align: center;
    background-color: #910000;
    width: 500px;
    height: 300px;
    border: 1px solid #700000;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;

}


.contenedor_cliente:hover{
    box-shadow: 0 0.1rem 0.4rem ;
    cursor: pointer;
    box-shadow: 5px 5px 5px #990000;
}



/*ETIQUETAS*/

.contenedor_cliente h2{
    font-size: 24px;
    margin-top: 20px;
    color: #FFAD00;
    font-weight: 800;
    text-transform: uppercase;

     
}
.cliente p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: 800;

    letter-spacing: 4px;
    
}

