*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{

    position: relative;
    margin-bottom: 40px;
    
    text-align: center;
    background-color: #ffffff;

}
#Presentacion, .Redes{
    font-size: 30px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;

}
div{


}
p{
    font-size: 15px;

    margin-left: 100px;
    margin-right: 100px;
}
