*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{

    position: relative;

    text-align: center;
    background-color: #ffffff;
}
h1{
    font-size: 30px;
    color: #000000;
    margin-top: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;

}


/*CONTENEDOR*/


.contenedor_producto{
    display: inline-block;
    width: auto;
    margin: 30px 10px;
    text-align: center;
    background-color: #990000;
    width: 400px;
    height: 350px;
    border: 1px solid #420303a9;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    align-items: center;


}


.contenedor_producto:hover{
    box-shadow: 0 0.1rem 0.4rem ;
    cursor: pointer;
    box-shadow: 0 10px 10px #cccccc;
}



/*ETIQUETAS*/


#productos{
    margin-bottom: 80px;   
}
.producto{
    width: 400px;    
    height: 250px;

}

.nombre{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.descripcion{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;

}

.precio{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 800;
    margin-top: 75px;
}

.boton{
    display: inline;
    margin: 30px;


}

.Categoria{
    display: flex;
    justify-content: center;
    color: #cccccc;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 7px;

}



.boton a:hover {
    background: #ffcc33;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px #ffff00,
        0 0 25px #ffff00,
        0 0 50px #ffff00,
        0 0 100px #ffff00;
}

hr{
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 5px;

}

img{
    width: 150px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#logo{
    height: 120px;
    width: 120px;
    margin: 0;
}

.Nombre {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;

}

.Precio {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;

}

button {
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #ffff00;


}

.btn-light:hover {

    box-shadow: 0 0 5px #ffff00,
        0 0 25px #ffff00,
        0 0 50px #ffff00,
        0 0 100px #ffff00;
}

button .material-symbols-outlined{
    color: #000000;

}

#resultsBlock{
    margin: 20px;

}

.btn btn-primary{
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #ffff00;
   
}







