/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 dic 2022, 03:45:24
    Author     : angel
*/

.botones{
    margin-top: 20px;

}

.boton{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #ffff00;
    margin-top: 20px;
}

.boton a{
    text-decoration: none;
    color: #000;

}

.boton a:hover{
    text-decoration: none;
    background-color: #ffff00;
    color:#000;

}

