<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">         
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="icon" href="images\Logo Pizza.ico"/>
                <link rel="icon" href="images\Logo Pizza.ico"/>
                <link rel="stylesheet" type="text/css" media="all" href="/css/template.css" th:href="@{/css/template.css}" />
                <link rel="stylesheet" type="text/css" media="all" href="/css/producto.css" th:href="@{/css/producto.css}" />
                <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
                <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

                </head>
                <body>
                    <header>
                        <nav th:replace="plantilla/template::nav"></nav>
                    </header>



                    <div id="resultsBlock">

                    </div>

                    <section th:fragment="listadoProductos" id="productos" >
                        <div class="container">
                            <div class="row row-cols-2">

                                <div id="resultsBlock">


                                </div> 
                            </div>
                            <div class="row row-cols-3">
                                <div:block th:each="user : ${producto}" class="contenedor_producto">
                                    <div class="producto" >
                                        <div class="Nombre">
                                            <p th:text="${user.getNombre}"></p>
                                        </div>

                                        <figure>
                                            <img th:src="@{${user.rutaImagen}}" width="200"/>    
                                            <div class="Descripcion">
                                                <p th:text="${user.getDescripcion}"></p>
                                            </div>
                                            <div class="Precio">
                                                <figcaption>
                                                    [[${new java.text.DecimalFormat('₡#,##0.00').format(user.getPrecio)}]]
                                                </figcaption>
                                            </div>
                                        </figure>

                                        <form>
                                            <input type="hidden" name="texto" th:value="${user.getId_producto}"/>
                                            <button class="btn-light"
                                                    id="addCar"
                                                    name="addCar"
                                                    onclick="addCard(this.form)"
                                                    type="button">
                                                <i class="material-symbols-outlined">Shopping_Cart</i>
                                            </button>
                                        </form>
                                    </div> 
                                </div:block>
                            </div>
                        </div>
                    </section>

                    <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">
                        <form action ="/carritoListado">
                            <button
                                type="submit"
                                class="btn btn-primary">
                                <i class="material-symbols-outlined"></i>[[#{carrito.verCarrito}]] [[${listaTotal}]]                                       
                            </button>                                
                        </form>   
                    </div>



                    <section th:fragment="listadoCarrito" id="Carrito" >
                        <div class="container">
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>[[#{articulo.nombre}]]</th>
                                        <th>[[#{articulo.precio}]]</th>
                                        <th>[[#{articulo.cantidad}]]</th>
                                        <th>[[#{articulo.total}]]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item :${items}">
                                        <td>[[${item.getId_producto}]]</td>
                                        <td >[[${item.getNombre}]]</td>
                                        <td>[[${new java.text.DecimalFormat('₡#,##0.00').format(item.getPrecio)}]]</td>
                                        <td>[[${new java.text.DecimalFormat('# ###,##0').format(item.getCantidad)}]]</td>
                                        <td>[[${new java.text.DecimalFormat('₡#,###,##0.00').format(item.getCantidad*item.getPrecio)}]]</td></td>
                                        <td>
                                            <a th:href="@{/carrito/eliminar/{id}(id=${item.getId_producto})}">[[#{accion.eliminar}]]</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/carrito/modificar/{id}(id=${item.getId_producto})}">[[#{accion.editar}]]</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>

                        <div>
                            <div>
                                <div class="card-body">
                                    <h3>[[#{carrito.totalCompra}]]</h3>
                                    <h4>
                                        [[${new java.text.DecimalFormat('₡#,##0.00').format(carritoTotal)}]]
                                    </h4>
                                </div>                                
                            </div>
                            <div>
                                <div class="card-body">
                                    <a th:href="@{/}">
                                        <i class="material-symbols-outlined">[[#{carrito.seguirComprando}]]</i>
                                    </a>
                                </div>                                  
                            </div>
                            <div>
                                <div class="card-body">
                                    <a th:href="@{facturar/carrito}">
                                        <i class="material-symbols-outlined">[[#{carrito.facturar}]]</i>
                                    </a>
                                </div>                                  
                            </div>

                        </div>
                    </section>


                    <footer th:replace="plantilla/template::footer"></footer>
                </body>

                </html>


