<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images\Logo Pizza.ico">
        <link rel="stylesheet" type="text/css" media="all" href="/css/template.css" th:href="@{/css/template.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/Cliente.css" th:href="@{/css/Cliente.css}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <nav th:replace="plantilla/template::nav"></nav>
        </header>

        <h1 th:text="${titulo}"></h1>

    <section:block th:each="user : ${cliente}" class="contenedor_cliente">

        <div class="cliente">
            <div class="Nombre">
                <p th:text="${user.getNombre}"></p>
            </div>
            <div class="Dirección">
                <p th:text="${user.getDireccion}"></p>
            </div>
            <div class="Telefono">

                <p th:text="${user.getTelefono}"></p>
            </div>
            <div class="boton">
                <a  href="#" >
                    AGREGAR
                </a>

            </div>


        </div>


    </section:block >


    <footer th:replace="plantilla/template::footer"></footer>
</body>
</html>

