<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
         <div id="Presentacion">
            <h2>¿Quiénes Somos?</h2>
            <p>Somos una familia italiana que viene a deleitar a Costa Rica con el autentico sabor de la Pizza.
               Nuestras recetas han sido creadas por nuestras familias, a lo largo del tiempo, siempre basandonos en la autentica pizza de Napoles.
            </p>
        </div>
        
        <div class="Redes">
            <h2>Contáctenos</h2>
            <div class="Opciones">
                
                <div class="card">
                    <h3>Telefono</h3>
                    <p>2552-6480</p>
                </div>
                <div class="card">
                    <h3>Direccion</h3>
                    <p>Universidad Fidelitas</p>
                </div>
                <div class="card">
                    <h3>Email</h3>
                    <p>drunkpizza@gmail.com</p>
                </div>
                
            </div>
            
      
        </div>

    </body>
</html>
