<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>Contactenos!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="all" href="/css/template.css" th:href="@{/css/template.css}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/drunkpizza-60b6c.appspot.com/o/imagenes%2FLogo.png?alt=media&token=03af6e79-b636-4eca-9e1b-67eef53165e0"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/template.css" th:href="@{/css/template.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/Contactenos.css" th:href="@{/css/Contactenos.css}" />
    </head>
    <body>
                <header>
            <nav th:replace="plantilla/template::nav"></nav>
        </header>

        <div id="Presentacion">
            <h2>¿Quiénes Somos?</h2>
            <p>Somos una familia italiana que viene a deleitar a Costa Rica con el autentico sabor de la Pizza.
                Nuestras recetas han sido creadas por nuestras familias, a lo largo del tiempo, siempre basandonos en la autentica pizza de Napoles.
            </p>
        </div>

        <div class="Redes">
            <h2>Contáctenos</h2>
            <div class="Opciones">

                <div class="card">
                    <h3>Telefono</h3>
                    <p>2552-6480</p>
                </div>
                <div class="card">
                    <h3>Direccion</h3>
                    <p>Universidad Fidelitas</p>
                </div>
                <div class="card">
                    <h3>Email</h3>
                    <p>drunkpizza@gmail.com</p>
                </div>

            </div>


        </div>
        
        <footer th:replace="plantilla/template::footer"></footer>

    </body>
</html>
