<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="icon" href="images\Logo Pizza.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav th:replace="plantilla/template::nav"></nav>
        </header>
        
        <h1 th:text="${titulo}"></h1>
        
        <table >           
          <thead>
            <tr>
                
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion 1</th>
              <th scope="col">Precio</th>

            </tr>
          </thead>
          
          <tbody>
            <th:block th:each="user : ${Producto}">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getDescripcion}"></td>
                    <td th:text="${user.getPrecio}"></td>


                  </tr>                
            </th:block>
            
          </tbody>
        </table>
        
        
         <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
